<a href="https://colab.research.google.com/github/kiyong21c/PythonML/blob/main/20221110_Union.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
import pandas as pd
m_store = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/m_store.csv')
m_store

     store_id store_name area_cd
0           1      삼일대로점      SL
1           2      세종대로점      SL
2           3       무교로점      SL
3           4      덕수궁길점      SL
4           5      서소문로점      SL
..        ...        ...     ...
192       193       방죽로점      GB
193       194      일산동구점      GB
194       195       화중로점      GB
195       196       석봉로점      GB
196       999       보수담당      SL

[197 rows x 3 columns]

In [43]:
len(m_store)

197

In [44]:
m_area = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/m_area.csv')
m_area

  area_cd wide_area narrow_area
0      SL        서울          서울
1      BS        부산          부산
2      DJ        대전          대전
3      GJ        광주          광주
4      SJ        세종          세종
5      GN        경기        경기남부
6      GB        경기        경기북부

In [45]:
tbl_order_4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_202104.csv')
tbl_order_4

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
233257,61665702,103,C51797758,48,77989403,2021-04-30 21:58,2021-04-30 22:36,0,35300,2
233258,31151690,119,C04883863,78,16130893,2021-04-30 21:58,2021-04-30 22:35,0,32340,2
233259,15955692,175,C87594637,96,11457934,2021-04-30 21:58,2021-04-30 22:32,0,36170,9
233260,73251339,145,C93839111,92,64743537,2021-04-30 21:58,2021-04-30 22:46,0,36170,2
233261,42442108,117,C44570215,54,2304995,2021-04-30 21:58,2021-04-30 22:37,1,18990,1

 - 세로로 결합하는 유니온
 - 가로로 결합하는 조인

In [46]:
tbl_order_5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_202105.csv')
tbl_order_5

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,84536666,16,C09876770,89,98297032,2021-05-01 11:00,2021-05-01 11:23,0,32340,2
1,88276008,158,C68585017,98,7770950,2021-05-01 11:00,2021-05-01 11:27,0,38650,2
2,30853149,97,C47161470,20,70091383,2021-05-01 11:00,2021-05-01 11:51,0,28270,2
3,2266595,95,C61461123,22,42134845,2021-05-01 11:00,2021-05-01 11:39,0,23160,2
4,7086301,49,C01007474,99,69495399,2021-05-01 11:00,2021-05-01 11:37,0,19000,9
...,...,...,...,...,...,...,...,...,...,...
241137,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
241138,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
241139,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
241140,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
241141,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

In [47]:
order_all = pd.concat([tbl_order_4, tbl_order_5], ignore_index=True)
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,34104383,11,C65806632,57,61573513,2021-04-01 11:00,2021-04-01 11:39,1,28270,1
1,70652318,59,C09760173,37,54068709,2021-04-01 11:00,2021-04-01 11:34,0,28270,2
2,71640388,195,C61227084,17,93678366,2021-04-01 11:00,2021-04-01 11:54,0,26470,9
3,75673365,127,C64119972,17,5287952,2021-04-01 11:00,2021-04-01 11:17,0,23080,2
4,9077529,174,C10231192,18,18248867,2021-04-01 11:00,2021-04-01 11:35,0,46920,2
...,...,...,...,...,...,...,...,...,...,...
474399,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
474400,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
474401,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
474402,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
474403,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

 - 폴더 안에 있는 파일을 확인

In [48]:
# 현재 디렉터리 확인
import os
current_dir = os.getcwd() # cwd : Current Working Directory
current_dir

'/content'

In [49]:
current_dir = '/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01'

In [50]:
# 디렉터리 내 파일/폴더 목록 확인
os.listdir(current_dir)

['m_store.csv',
 'm_area.csv',
 'tbl_order_202106.csv',
 'tbl_order_202104.csv',
 'tbl_order_202105.csv',
 '.ipynb_checkpoints']

In [51]:
os.path.join(current_dir, 'tbl_order_*.csv') # * : 와일드카드 함수
# current_dir + '/tbl_order_*.csv' # os.path.join 굳이 쓰지않아도 됨

'/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_*.csv'

In [52]:
current_dir + '/tbl_order_*.csv'

'/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_*.csv'

In [53]:
# 현재 디렉터리 검색
import glob
tbl_order_files = glob.glob(current_dir + '/tbl_order_*.csv') # 와일드카드 활용가능
tbl_order_files

['/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_202106.csv',
 '/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_202104.csv',
 '/content/drive/MyDrive/Colab Notebooks/Workplace100Tech/chapter01/tbl_order_202105.csv']

In [54]:
is_first = True
for file in tbl_order_files:
    if is_first:
        order_all = pd.read_csv(file)   # 반복문 처음에는 file을 불러와서 DataFrame을 만든다
        is_first = False
    else:
        order_data = pd.read_csv(file)  # 반복문 두번째부터는 이미만들어진 DataFrame에 Concatenate한다
        order_all = pd.concat([order_all, order_data], ignore_index=True)

order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9
1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2
2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2
3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2
4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2
...,...,...,...,...,...,...,...,...,...,...
707701,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
707702,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
707703,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
707704,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
707705,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

In [55]:
# 결손값 확인
order_all.isnull().sum() # DataFrame.isnull().sum() : True만 컬럼별로 카운트

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
dtype: int64

In [56]:
order_all.describe() # 데이터의 타입이 수치면 모두 집계됨

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.077060e+05,707706.000000,707706.000000,7.077060e+05,707706.000000,707706.000000,707706.000000
mean,5.000947e+07,103.935165,49.512375,5.000068e+07,0.259888,29606.465156,3.083026
std,2.889479e+07,86.373854,28.883382,2.885809e+07,0.438573,9543.733832,2.836336
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,6980.000000,1.000000
25%,2.501320e+07,51.000000,24.000000,2.503991e+07,0.000000,23080.000000,2.000000
50%,4.999599e+07,99.000000,49.000000,5.003862e+07,0.000000,28080.000000,2.000000
75%,7.508354e+07,148.000000,75.000000,7.499667e+07,1.000000,36170.000000,2.000000
max,9.999972e+07,999.000000,99.000000,9.999964e+07,1.000000,51000.000000,9.000000

In [57]:
# 주문당 평균, 최저, 최대 금액 확인
order_all.describe().loc[['mean','min','max'],'total_amount']

mean    29606.465156
min      6980.000000
max     51000.000000
Name: total_amount, dtype: float64

In [58]:
# 데이터 기간 확인
print(order_all['order_accept_date'].min()) # Series.min() : 최소값
print(order_all['order_accept_date'].max()) # Series.max() : 최대값

2021-04-01 11:00
2021-06-30 21:58

In [59]:
# 제거할 정보 확인(유지보수용 매장)
order_all[order_all['store_id'] != 999]
# order_all.loc[order_all['store_id'] != 999] # DataFrame.loc[조건, (칼럼명생략가능)] : loc없어도 됨

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9
1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2
2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2
3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2
4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2
...,...,...,...,...,...,...,...,...,...,...
707701,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
707702,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
707703,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
707704,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
707705,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

In [60]:
order_data = order_all[order_all['store_id'] != 999]
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9
1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2
2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2
3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2
4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2
...,...,...,...,...,...,...,...,...,...,...
707701,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
707702,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
707703,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
707704,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
707705,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

In [61]:
# store_id == 999 제거 후 인덱스 번호 리셋
order_data.reset_index()

,index,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9
1,1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2
2,2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2
3,3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2
4,4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2
...,...,...,...,...,...,...,...,...,...,...,...
703881,707701,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2
703882,707702,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2
703883,707703,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2
703884,707704,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2
703885,707705,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2

 - 가로로 결합하는 조인 : merge()

In [62]:
# store_id를 기준으로 m_store의 데이터를 붙인다
order_data = pd.merge(order_data, m_store, on='store_id', how='left') # left인 order_data를 기준으로 붙인다
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd
0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9,노해로2점,SL
1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2,용아로점,GJ
2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2,시흥대로점,SL
3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2,낙동대로2점,BS
4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2,법원로2점,SL
...,...,...,...,...,...,...,...,...,...,...,...,...
703881,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2,중앙대로점,BS
703882,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2,용아로점,GJ
703883,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2,시흥대로점,SL
703884,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2,국제금융로점,SL
703885,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2,문예회관길점,SJ

In [63]:
# m_store를 merge하면서 추가된 area_cd를 기준으로 m_area의 데이터를 붙인다
order_data = pd.merge(order_data, m_area, on='area_cd', how='left')
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area
0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9,노해로2점,SL,서울,서울
1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2,용아로점,GJ,광주,광주
2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2,시흥대로점,SL,서울,서울
3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2,낙동대로2점,BS,부산,부산
4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2,법원로2점,SL,서울,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703881,80834230,110,C44748299,25,61000508,2021-05-31 21:58,2021-05-31 22:42,0,35020,2,중앙대로점,BS,부산,부산
703882,65940233,164,C68733497,33,29474794,2021-05-31 21:58,2021-05-31 22:08,0,21120,2,용아로점,GJ,광주,광주
703883,49922027,23,C66722860,92,96482427,2021-05-31 21:58,2021-05-31 22:27,0,26470,2,시흥대로점,SL,서울,서울
703884,80642623,35,C32096353,4,88688082,2021-05-31 21:58,2021-05-31 22:40,0,28270,2,국제금융로점,SL,서울,서울
703885,13890502,182,C40646464,18,52133767,2021-05-31 21:58,2021-05-31 22:23,0,26770,2,문예회관길점,SJ,세종,세종

 - 테크닉 8 : 마스터가 존재하지 않는 코드에 이름을 설정

In [64]:
order_data[['takeout_flag', 'status']] # 이 두가지 컬럼의 데이터는 마스터가 제공되지 않으므로 어떤의미인지 모른다

        takeout_flag  status
0                  0       9
1                  0       2
2                  0       2
3                  0       2
4                  0       2
...              ...     ...
703881             0       2
703882             0       2
703883             0       2
703884             0       2
703885             0       2

[703886 rows x 2 columns]

In [65]:
# 두 컬럼의 데이터의 의미(마스터)를 부여하자
order_data['takeout_flag'].unique() # array([0, 1])
order_data['status'].unique() # array([9, 2, 1])

array([9, 2, 1])

In [66]:
# 1. map(dict) 함수 적용
order_data['takeout_name'] = order_data['takeout_flag'].map({0:'delivery', 1:'takeout'})
order_data['status_name'] = order_data['status'].map({0:'주문 접수', 1:'지불 완료', 2:'배달 완료', 9:'주문 취소'})
order_data[['takeout_name', 'status_name']]

       takeout_name status_name
0          delivery       주문 취소
1          delivery       배달 완료
2          delivery       배달 완료
3          delivery       배달 완료
4          delivery       배달 완료
...             ...         ...
703881     delivery       배달 완료
703882     delivery       배달 완료
703883     delivery       배달 완료
703884     delivery       배달 완료
703885     delivery       배달 완료

[703886 rows x 2 columns]

 - 테크닉 9 : 분석 기초 테이블을 파일에 저장

In [67]:
current_dir = os.getcwd() # cwd : Current Working Directory
current_dir

'/content'

In [68]:
output_dir = os.path.join(current_dir, 'output_data') # 그냥 '/' 이용해서 경로를 붙여주는 함수
output_dir

'/content/output_data'

In [69]:
# 폴더 생성
os.makedirs(output_dir, exist_ok=True) # exist_ok : 동일한 폴더명이 존재해도 에러 발생X

In [70]:
# csv파일 저장
output_file = os.path.join(output_dir, 'order_data.csv') # 파일명(확장자 포함)까지 포함한 경로
order_data.to_csv(output_file, index=False) #

 - 테크닉 11 : 데이터 로딩하고 불필요 항목 삭제

In [71]:
import pandas as pd
order_data = pd.read_csv(output_file)
print(len(order_data))
order_data.head()

703886

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,42067158,48,C87044944,55,91346278,2021-06-01 11:00,2021-06-01 11:43,0,26030,9,노해로2점,SL,서울,서울,delivery,주문 취소
1,15752986,164,C16364398,79,7748719,2021-06-01 11:00,2021-06-01 11:28,0,28080,2,용아로점,GJ,광주,광주,delivery,배달 완료
2,94347153,23,C53806156,52,91566722,2021-06-01 11:00,2021-06-01 11:17,0,46920,2,시흥대로점,SL,서울,서울,delivery,배달 완료
3,89104104,89,C52845352,55,57039677,2021-06-01 11:00,2021-06-01 11:44,0,28270,2,낙동대로2점,BS,부산,부산,delivery,배달 완료
4,14849014,78,C40273707,66,64359520,2021-06-01 11:00,2021-06-01 11:47,0,30500,2,법원로2점,SL,서울,서울,delivery,배달 완료

In [72]:
# 주문상태가 결제완료, 배달완료인 데이터만 남기자
order_data = order_data.loc[(order_data['status'] == 1) | (order_data['status'] == 2)] # .loc[] 안하고 바로 .[조건] 해도 됨
print(len(order_data))
order_data.columns

574435

Index(['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
       'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount',
       'status', 'store_name', 'area_cd', 'wide_area', 'narrow_area',
       'takeout_name', 'status_name'],
      dtype='object')

In [157]:
# 필요한 컬럼만 사용
analyze_data = order_data[['store_id','customer_id','coupon_cd',
                           'order_accept_date','delivered_date','total_amount',
                           'store_name','wide_area','narrow_area',
                           'takeout_name','status_name']]

print(analyze_data.shape)
analyze_data.head()

(574435, 11)

,store_id,customer_id,coupon_cd,order_accept_date,delivered_date,total_amount,store_name,wide_area,narrow_area,takeout_name,status_name
1,164,C16364398,79,2021-06-01 11:00,2021-06-01 11:28,28080,용아로점,광주,광주,delivery,배달 완료
2,23,C53806156,52,2021-06-01 11:00,2021-06-01 11:17,46920,시흥대로점,서울,서울,delivery,배달 완료
3,89,C52845352,55,2021-06-01 11:00,2021-06-01 11:44,28270,낙동대로2점,부산,부산,delivery,배달 완료
4,78,C40273707,66,2021-06-01 11:00,2021-06-01 11:47,30500,법원로2점,서울,서울,delivery,배달 완료
7,117,C00390764,18,2021-06-01 11:00,2021-06-01 11:42,30500,절영로점,부산,부산,delivery,배달 완료

 - 테크닉 12 : 데이터 전체 이미지 파악

In [158]:
analyze_data.describe()

            store_id      coupon_cd   total_amount
count  574435.000000  574435.000000  574435.000000
mean       99.113691      49.474741   29601.264965
std        55.910285      28.890069    9543.449437
min         1.000000       0.000000    6980.000000
25%        51.000000      24.000000   23080.000000
50%        99.000000      49.000000   28080.000000
75%       147.000000      75.000000   36170.000000
max       196.000000      99.000000   51000.000000

 - store_id, coupon_cd는 명목형 데이터이지만 숫자형태여서 describe에 집계됨

In [159]:
# 데이터 타입 변경 전
analyze_data.dtypes

store_id              int64
customer_id          object
coupon_cd             int64
order_accept_date    object
delivered_date       object
total_amount          int64
store_name           object
wide_area            object
narrow_area          object
takeout_name         object
status_name          object
dtype: object

In [160]:
# 데이터 타입 변경 후
analyze_data[['store_id','coupon_cd']] = analyze_data[['store_id','coupon_cd']].astype(str)
analyze_data.dtypes

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

store_id             object
customer_id          object
coupon_cd            object
order_accept_date    object
delivered_date       object
total_amount          int64
store_name           object
wide_area            object
narrow_area          object
takeout_name         object
status_name          object
dtype: object

In [161]:
analyze_data.describe()

        total_amount
count  574435.000000
mean    29601.264965
std      9543.449437
min      6980.000000
25%     23080.000000
50%     28080.000000
75%     36170.000000
max     51000.000000

In [162]:
analyze_data['order_accept_date']

1         2021-06-01 11:00
2         2021-06-01 11:00
3         2021-06-01 11:00
4         2021-06-01 11:00
7         2021-06-01 11:00
                ...
703881    2021-05-31 21:58
703882    2021-05-31 21:58
703883    2021-05-31 21:58
703884    2021-05-31 21:58
703885    2021-05-31 21:58
Name: order_accept_date, Length: 574435, dtype: object

![image.png]()